#section-1 {
	height: 1200px;
	background-color: red;
}

#section-2 {
	height: 1200px;
	background-color: blue;
}

#section-3 {
	height: 1200px;
	background-color: orange;
}

body {
	margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}